<video id="bgvid" playsinline autoplay muted loop>
  <source src="../images/homevid.webm" type="video/webm">
  <source src="../images/homevid.mp4" type="video/mp4">
</video>

<div id="snippet">
    <h1 class="logo-home">Virtuoso</h1>
    <p>A place where you can easily <span class="red">discover</span>, <span class="red">listen to</span>, and <span class="red">learn about</span> new <span class="red">artists</span>. Stay up to date with music from Spotify &amp; SoundCloud and social media content from Twitter, Facebook, &amp; YouTube. <span class="red">Start discovering today by searching for an artist above.</span></p>
</div>
